h1 { 
  Color: SkyBlue; 
  Font-size: 45px;
  Font-family:Comic Sans MS ,cursive ,sans-serif  
}
body{
  background-color: pink
}
li {
  Color: HotPink; 
  Font-size: 32px; 
  Font-family : "Arial,sans-serif"
} 

